.grid {
  display: grid;
}

.grid-2col {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

  &__left {
    grid-column: 1;
    grid-row: 1;

    // margin-left: $gutter;
  }

  &__right {
    grid-column: 2;
    grid-row: 1;

    // margin-right: $gutter;
  }
}
