.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.55s;
  }

  &-enter,
  &-leave-active {
    opacity: 0;

    & + .glitch {
      display: block !important;
    }
  }
}

// content fade-in (using vue-waypoint)
/*.waypoint {
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
}

.waypoint-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@include for-tablet-portrait-up {
  .waypoint {
    transform: translate3d(-400px, 0, 0);
  }

  .waypoint-active {
    transform: translate3d(0, 0, 0);
  }
}

.waypoint,
.waypoint-active {
  transition:
    transform 1s,
    opacity 1.5s;
}
*/
