@mixin addTemplateWrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  position: relative; // allow children to have bigger width
  max-width: var(--page-max-width);
  align-items: flex-start;
}

@mixin addGutter {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: calc(100% - var(--gutter) * 2);
}

@mixin addHR($position: '') {
  $border_style: 2px solid;
  border-image: url('~/assets/img/line.jpg') 2;

  @if ($position == '') {
    border: $border_style;
  } @else if($position == 'top') {
    border-top: $border_style;
    border-left: none;
    border-right: none;
    border-bottom: none;
  } @else if($position == 'bottom') {
    border-bottom: $border_style;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

// https://blog.logrocket.com/the-elements-of-responsive-typography/
@mixin fontSize($rate, $vw, $max: 0) {
  font-size: calc($rate + $vw);
  line-height: 1.2;

  @include for-big-desktop-up {
    @if $max !=0 {
      font-size: $max;
    }
  }
}

// add fallback fonts
@mixin fontFamily($font, $fallback: '') {
  @if $fallback == '' {
    font-family: $font, Arial, Helvetica, sans-serif;
  } @else {
    font-family: $font, $fallback;
  }
}
