RewriteEngine on

# tobiasmarty.ch/app/public/index.php?route=news/this/action
# tobiasmarty.ch/app/public/news/this/action
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([A-Za-z0-9-/\.]*)$ index.php?route=$1 [NC]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ app/public/index.php [QSA,L]