/*
 * included by @nuxtjs/style-resources
 * https://www.npmjs.com/package/@nuxtjs/style-resources
 *
 * only define variables and don't use styles here.
 *
 * COLORS *
*/

$color-primary: #FAFAFA;
$color-hover: #FFFFFF;

$color-content: #000000;
$color-gray: #5a5a5a;

$color-borders: #ACACAC;
