/*
 * included by @nuxtjs/style-resources
 * https://www.npmjs.com/package/@nuxtjs/style-resources
 * 
 * only define variables and don't use styles here.
 *
 * COLORS *
*/

$color-primary: #2f2f2f;
$color-hover: #252525;

$color-white: #ffffff;
$color-gray: #5a5a5a;
