/*
 * included by @nuxtjs/style-resources
 * https://www.npmjs.com/package/@nuxtjs/style-resources
 *
 * only define variables and don't use styles here.
 *
 * COLORS *
*/

// definitions

$color-white: #FFFFFF;
$color-primary: #FAFAFA;

$color-black: #000000;
$color-gray: #ACACAC;

// colors skills

$color-skill1: #4E4E4E;
$color-skill2: #999999;
$color-skill3: #BFBFBF;
$color-skill4: #D7D7D7;

// usage

$color-content: $color-black;
$color-content-neg: $color-primary;
$color-background: $color-primary;

$color-hover: $color-white;
$color-swiper: $color-white;
$color-swiper-border: $color-black;

$color-accordion-border: $color-gray;
